<%= form_with model: @task, class: 'delete-task' do |f| %>
  <p>Are you sure you would like to delete #{@task.name}? This cannot be undone </p>

  <%= f.submit "Delete Task FOREVER", class: "task-button" %>
<% end %>