<h2>Task List</h2>
<% if @tasks.count > 0 %>
    <ul>
    <% @tasks.each do |task| %>
      <li>Task name: <%= task.name %> Description: <%= task.description %> Date completed: <%= task.completed_at %></li>
    <% end %>
    </ul>
  <% else %>
    <h3>No tasks in the system<h3>
  <% end %>