<h1>TASKS</h1>
<ol class="tasks">
  <% @tasks.each do |task| %>

    <li> Title: <%= link_to task.name, task_path(task.id) %>
      <p> Description: <%= task.description %> </p>
      <p> Completed at: <%= task.completed_at %>
    </li>
  <% end %>

</ol>

<%= link_to "Create New Task", new_task_path %>
