<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= link_to task.name, task_path(task.id) %>
      <span> | </span>
      <%= link_to "Delete Task", task_path(task.id), method: :delete, data: {confirm: 'Are you sure?'} %>
      <%= button_to "Mark Complete", task_complete_path(task.id), method: :patch %>
    </li>
  <% end %>
</ul>