<header>
  <h1>TASKLIST</h1>
</header>

<div class="actions">
  <div class="button"><%= link_to "Add Task", new_task_path %></div>
  <div class="break"></div>
  <div class="button"><%= link_to "All Tasks", tasks_path %></div>
</div>

<div class="list">
  <h2>YOUR TASKS</h2>
  <ol>
    <% Task.all.each.with_index(1) do |task, index| %>
      <li>
        <strong>Task <%= index.to_words.capitalize %></strong><br>
        TO:DO COMPLETION MARKING | <%= link_to "Edit", edit_task_path(task.id) %> | TO:DO DELETION
<!--        <%#= task.name %>: <%#= task.description %> ||-->
<!--        status: <%#= task.completed_at.nil? ? "Incomplete" : task.completed_at %>-->
      </li>
    <% end %>
  </ol>
</div>