<h2>Kayla's Homework Task List</h2>

<% if @tasks.length > 0 %>
  <ol>
    <% @tasks.each do |task| %>
      <li> <%= task.name %></li>
    <% end %>
  </ol>
  <% else %>
    <h3>No tasks in system!</h3>
  <% end %>
