<h1>Task List</h1>

<% if @tasks.length > 0 %>
  <ul>
  <% @tasks.each do |task| %>
    <li><%= task.name %> (<%= task.description %>) - completed on <%= task.completed_at %> </li>
  <% end %>
  </ul>
<% else %>
  <p>You have no tasks.</p>
<% end %>