<h1>Tasks</h1>
<ul>
<% if @tasks.length > 0 %>
  <% @tasks.each do |task|  %>
    <li>
      <%= task[:item] %> done?: <%= task[:status] %>
    </li>
  <% end %>
<% else %>
    No tasks
<% end %>
</ul>