<h1>Tasks</h1>
<div>
  <% @tasks.each do |task| %>
    <ul>
      <li>
          <%= task.name  %>
        <ul>
          <li>
            <%= task.description %>
          </li>
          <li>
            <%= task.completed_at %>
          </li>
        </ul>
      </li>
    </ul>
  <% end %>
</div>