<h1>Tasks</h1>
<ul>
  <% if @tasks.length > 0 %>
    <% @tasks.each do |task| %>
      <li>
        Task: <%= task.name %> ||
        Description: <%= task.description %> ||
        Completed at: <%= task.completed_at %>
     </li>
    <% end %>
  <% else %>
    No tasks
  <% end %>
</ul>
<%= link_to "Add a task", new_task_path %>