<h1>Task List</h1>
<ul>
  <% Task.all.each do |task|  %>
    <li>
      Task: <%= task.name %>, Description: <%= task.description %>, Completed at: <%= task.completed_at %>
    </li>
  <% end %>
</ul>