<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task.name %> Description: <%= task.description %>
      <%= link_to(task.name, show_task_path(task.id) )%>
    </li>
  <% end %>

  <li> <%= link_to "Add another task", new_task_path %> </li>
</ul>


