<header>
  <h3>Task List</h3>
</header>
<main>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.name, task_path(task) %>
      </li>
    <% end %>
  </ol>

  <%= link_to "Add New Task", new_task_path %>
</main>