<main>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.name, task_path(task) %>
      </li>
    <% end %>
  </ol>
  <p>
    <%= button_to "Add New Task", new_task_path, method: :get, class: "btn btn-success" %>
  </p>
</main>