<h1>Tasks</h1>
<ul>
    <% @tasks.each do |task| %>
        <li>
            <%= link_to task.name, task_path(task) %>
        </li>
    <% end %>
</ul>

<h3>Actions</h3>
<ul>
    <li>
        <%= link_to "Add Task", new_task_path %>
    </li>
</ul>