<h1>Tasks</h1>
<ol>
  <% @tasks.each do |task| %>
    <li>
      <%=  "#{ task[:name] } -
            #{ task[:description] } |
            #{ task[:completed_at].nil? ? "in-progress" : "complete" }" %>
    </li>
  <% end %>
</ol>