<h1>Task List</h1>


<% if @tasks.length > 0 %>

  <% @tasks.each do |task| %>
    <h2><%= link_to task.name, task_path(task.id) %></h2>
  <% end %>

<% else %>
  <p>No tasks in the system!</p>
<% end %>

<%= link_to "Add Task", new_task_path %>