<h1>Sophia's Tasks</h1>
<ul>
<% if @tasks.length > 0 %>
  <% @tasks.each do |task|  %>
    <li>
    <h4><%= task[:name] %></h4>
    <h5><%= task[:description] %></h5>
    <h6>Completed at:<%= task[:completed_at] %></h6>
    </li>
  <% end %>
<% else %>
    No tasks
<% end %>
</ul>