<h1>Tasks</h1>

<ul>
  <% @tasks.each do |tasks|%>
    <li>
      name: <%= tasks[:name] %>,  description: <%= tasks[:description] %> , completed_at: <%= tasks[:completed_at] %>
    </li>
  <% end %>
</ul>

