<h1>Tasks List</h1>


<ul>
  <% if @tasks.length > 0 %>
    <% @tasks.each do |task|%>
      <li>
<!--        <%#= task.name %> <%#= task.description %>, completed_at: <%# task.completed_at %>-->
        <%= link_to(task.name, task_path(task.id)) %> <%= task.description %>, completed_at: <% task.completed_at %>
      </li>
    <% end %>
  <% else %>
    <p> there is no task </p>
  <% end %>
</ul>

