<%# <h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p> %>

<%# <%= "This is a test".upcase %> 

<% if @tasks.length > 0 %>
   <% @tasks.each do |task|%>
    <ul>
        <li><%= task.name %>  
            <ul>
                <li><%= link_to "Task details", task_path(task.id) %></li>            
            </ul>
        </li>
        
    </ul>
    <% end %>
<% else %>
    <h3> No task to do! </h3>
<% end %>

