
<h3>Currently tasked:</h3>

<% if @tasks.length > 0 %>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <strong><%= link_to task.name, task_path(task)%>
        </strong>: <em><%= task.description %></em>
        <%= link_to 'Delete Task', task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %></li>

      </li>
    <% end %>
  </ol>
  <% else %>
    <h3>No tasks in system!</h3>
  <% end %>

  <ul>
    <li><%= link_to "Add New Task", new_task_path %></li>
  </ul>

