<h1>Sophia's Tasks</h1>
<ul>
<% if @tasks.length > 0 %>
  <% @tasks.each do |task|  %>
    <li>
      <%= task[:name] %>: <%= task[:description] %>
    </li>
  <% end %>
<% else %>
    No tasks
<% end %>
</ul>