<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Task: <%= task[:name] %> Description: <%= task[:description] %> Date completed: <%= task[:date_completed] %>
    </li>
  <% end %>
</ul>