<h1>T A S K S</h1>

<ul>
  <% @tasks.each do |task| %>
    <li class="<%= 'strike' unless task.completed_at.nil? %>">
      <%= link_to task.name, task_path(task.id) %>
    </li>
  <%end%>
</ul>

<div>
  <%= button_to "ADD NEW TASK", new_task_path, method: :get %>
</div>
