<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="stylesheets/style.css" rel="stylesheet">
  <title>Add new task</title>
  <link href="https://fonts.googleapis.com/css2?family=Gelasio&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Add new task</h1>
    <nav><%= link_to content_tag(:li, "Home"), root_path, method: :get %></nav>
  </header>
  <main id = "form">
    <h2>Fill out the below:</h2>
    <%= render partial: "form", locals: { action_name: "New" } %>
  </main>
</body>
</html>
