<!DOCTYPE html>
<html>
<head>
  <title>Add new task</title>
</head>
<body>
  <header>
    <h1>Add new task</h1>
    <nav><a href="/">Home</a></nav>
  </header>
  <main>
    <h2>Use the form below to add a new task:</h2>
    <%= render partial: "form", locals: { action_name: "New" } %>
  </main>
</body>
</html>
