<h1>TASK DETAILS</h1>
<ol class="task-detail">

    <li> Title: <%= @task.name.capitalize %> Description: <%= @task.description.capitalize %>
      completed at: <%= @task.completed_at %></li>

    <%= link_to "Back to Task List",tasks_path%>
</ol>
