<h1>For When You Finish Your Homework</h1>
<h2><%= @task.name %></h2>
<p>Description - <%= @task.description %></p>


<div class="button-list">
  <%= button_to "EDIT", edit_task_path(@task.id), method: :get %>
  <%= button_to "DELETE", tasks_path, method: :delete, data: { confirm: "Are you sure?" } %>
</div>