<div class="list">
  <h2><%= @task.name.downcase %></h2>
  <ol>
    <li>status:<br><%= @task.completed_at.nil? ? "in-progress" : "complete" %></li>
    <li>description:<br><%= @task.description.downcase %></li>
  </ol>
  <div class="button"><%= link_to "go back", tasks_path %></div>
</div>


